.box {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90%;

  &-container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 20% 1fr;
    grid-template-areas:
      "head head"
      "nav main"
      "nav footer";
  }

  &-table {
    // border-collapse: collapse;
    min-width: 500px;
    table-layout: fixed;
    width: 100%;
    grid-area: main;
    //display: grid;

    .product-header {
      display: flex;
      flex-direction: column;

      &-td {
        display: flex;
        flex-direction: row;
      }
    }
    
    thead > tr > td {
      font-weight: bold;
      background-color: #002fff;
      color: #ffffff;
    }

    td {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    td,
    th {
      padding: 0.2rem;
    }
    tr:nth-child(odd) {
      background-color: #ececec;
    }

    &-tbody > tr > td,
    th {
      padding: 0 0 0 0.2rem;
      border: 1px solid #d1d1d1;
    }
  }
  &-page-numbers {
    padding-inline-start: 0;
    display: flex;
    justify-content: space-between;
    li {
      cursor: pointer;
      padding: 0.5em;
      list-style: none;
    }
    &-active {
      font-weight: bold;
    }
  }

  &-page-numbers-inside {
    padding-inline-start: 0;
    max-width: 400px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &-pagination {
    grid-area: footer;
  }
}
