.box {
  display: grid;
  justify-content: space-around;
  &-container {
    width: 600px;
  }

  &-table {
    border-collapse: collapse;
    min-width: 500px;
    table-layout: fixed;
    width: 100%;

    thead > tr > td {
      font-weight: bold;
      background-color: #000000;
      color: #ffffff;
    }

    td {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    td,
    th {
      padding: 0.5rem;
    }
    tr:nth-child(odd) {
      background-color: #ececec;
    }

    &-tbody > tr > td,
    th {
      padding: 0 0 0 0.2rem;
      border: 1px solid #d1d1d1;
    }
  }
  &-page-numbers {
    padding-inline-start: 0;
    display: flex;
    justify-content: space-between;
    li {
      cursor: pointer;
      padding: 0.5em;
      list-style: none;
    }
    &-active {
      font-weight: bold;
    }
  }

  &-page-numbers-inside {
    padding-inline-start: 0;
    max-width: 400px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
