@import "../../../style/global.less";

.box {
  display: grid;
  // &-routes {
  //   background-color: #e9e9e9;
  //   border-bottom: @main_border;
  //   &-wrapper {
  //     display: grid;
  //     padding: 0.2em;
  //   }
  // }

  &-container {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 20% 1fr;
    grid-template-areas:
      "head head"
      "nav main"
      "nav footer";
  }

  &-table {
    border-collapse: collapse;
    min-width: 500px;
    table-layout: fixed;
    width: 100%;
    grid-area: main;
    display: grid;

    .product-header {
      display: flex;
      flex-direction: column;

      &-td {
        display: flex;
        flex-direction: row;
      }
    }

    thead {
      display: flex;
    }

    thead > tr > div {
      font-weight: bold;
      background-color: #002fff;
      color: #ffffff;
    }

    td {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    td,
    th {
      padding: 0.2rem;
    }
    tr:nth-child(odd) {
      background-color: #ececec;
    }

    &-tbody > tr > td,
    th {
      padding: 0 0 0 0.2rem;
      border: 1px solid #d1d1d1;
    }
  }
}

@media only screen and (max-width: 800px) {
  .box {
    &-container {
      grid-gap: 0.5em;
      grid-template-columns: 1fr;
      grid-template-areas:
        "head"
        "nav"
        "main"
        "footer";
    }
  }
}

@media (max-width: 320px) {
  .box {
    width: 100%;
  }
}
